<div class="card">
  <div class="card-header">
    <h4><%= board.title %></h4>
    <% board.tags.each do |tag| %>
      <span class="badge rounded-pill text-bg-primary"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(board.body) %></p>
  </div>
</div>
<% if board.images.attached? %>
  <div>
    <% board.images.each do |image| %>
      <%= image_tag image, size: "381x267" %><br>
      <%= link_to '表示', image %><br>
    <% end %>
  </div>
<% end %>