  <div class="my-3">
    <%= form.label :images①%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images②%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images③%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images④%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images⑤%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images⑥%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images⑦%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images⑧%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="my-3">
    <%= form.label :images⑨%><br>
    <%= form.file_field :images, multiple: true %>
  </div>
